* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #000428, #004e92);
    color: white;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px 50px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

h1 {
    margin-bottom: 18px;
    letter-spacing: 1px;
}

.timer {
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 22px;
}

.buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

button {
    padding: 10px 22px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #00e1ff;
    /* color: black; */
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: 600;
}

button:hover {
    transform: scale(1.08);
    background-color: #00bcd4;
}